/Manifest.toml
test/meshgeometry.geo
gmsh-4.9.4-Windows64/
test/meshgeometry.msh
meshgeometry.geo
meshgeometry.msh
dev/Manifest.toml
test/Manifest.toml
docs/build/
docs/site/
docs/Manifest.toml
.gitignore
docs/src/tutorials/reaction_diffusion_brusselator_system_of_pdes.md
docs/src/tutorials/mean_exit_time.md
docs/src/tutorials/porous_fisher_equation_and_travelling_waves.md
docs/src/tutorials/laplaces_equation_with_internal_dirichlet_conditions.md
docs/src/tutorials/piecewise_linear_and_natural_neighbour_interpolation_for_an_advection_diffusion_equation.md
docs/src/tutorials/porous_medium_equation.md
docs/src/tutorials/helmholtz_equation_with_inhomogeneous_boundary_conditions.md
docs/src/tutorials/diffusion_equation_on_an_annulus.md
docs/src/tutorials/reaction_diffusion_equation_with_a_time_dependent_dirichlet_boundary_condition_on_a_disk.md
docs/src/tutorials/diffusion_equation_on_a_square_plate.md
docs/src/tutorials/equilibrium_temperature_distribution_with_mixed_boundary_conditions_and_using_ensembleproblems.md
docs/src/tutorials/diffusion_equation_in_a_wedge_with_mixed_boundary_conditions.md
docs/src/tutorials/gray_scott_model_turing_patterns_from_a_coupled_reaction_diffusion_system.md 
docs/src/tutorials/solving_mazes_with_laplaces_equation.md
docs/src/wyos/laplaces_equation.md
docs/src/wyos/mean_exit_time.md
docs/src/wyos/linear_reaction_diffusion_equations.md
docs/src/wyos/poissons_equation.md
docs/src/wyos/diffusion_equations.md
